<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card my-3" *ngFor="let restaurant of restaurantList">
        <div class="card-body">
          <h4 class="card-title">{{ restaurant.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted" style="font-size: 14px;"><i class="fa fa-home"></i> {{ restaurant.address }}</h6>
          <h6 class="card-subtitle mb-2 text-muted" style="font-size: 14px;"><i class="fa fa-phone"></i> {{ restaurant.phone }}</h6>
          <h4 class="my-4">Order</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let order of restaurant.orders">
              <div class="row">
                <div class="col-6">
                  {{ order.create_time | date:'yyyy-MM-dd hh:mm:ss' }}
                </div>
                <div class="col-6 text-right">
                  $ {{ order.total_price }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
